* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Roboto, arial, sans-serif;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

a {
    color: black;
    opacity: 0.7;
}

a:visited {
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}

#header-left a, #header-right a {
   padding: 5px;
}

#login-anchor-button {
    background-color: #4285F4;
    opacity: 1;
    color: white;
    border-radius: 5px;
}

.logo {
    display: flex;
    justify-content: center;
}

.search-container {
    display: flex;
    justify-content: center;
}

#search-form {
    width: 50%;
}

#search-bar {
    width: 100%;
    border: 3px solid lightgray;
    border-radius: 15px;
    margin-bottom: 25px;
}

#search-bar:hover {
    box-shadow: 1px 1px 1px 1px lightgray;
}

#search-bar input {
    border: none;
    outline: none;
    height: 30px;
    width: 90%;
}

#search-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

#search-buttons input {
    padding: 10px;
    background-color: #F8F9FA;
    border: 1px solid #F8F9FA;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.footer-left a, .footer-right a {
    padding: 10px;
}
